---
title: Bening Abadi Transport
call_to_action: Contact
background_image_path:
large_header: false
show_in_navigation: true
testimonials:
  - message: >-
      <a href="/sewa-motor/">SEWA MOTOR MULAI 50 RIBU!!</a><p><img
      src="/uploads/motor-baru1.png" width="360" height="239" /></p>
    image: /uploads/aji.jpg
    name: Adjie
  - message: >-
      <a href="/rental-mobil/">Sewa mobil lepas kunci mulai 300
      ribu!!</a><p><img src="/uploads/mobil-icon1.jpg" width="360" height="239"
      /></p>
    image: /uploads/nunik.jpg
    name: Nunik
  - message: >-
      <a href="/penginapan/">Nginep nyaman semaleman cuma 150 ribu!!</a><p><img
      src="/uploads/kamar-icon1.jpg" width="360" height="239" /></p>
    image: 'https://placebear.com/60/60?a=.png'
    name: Setyawan
_options:
  image:
    width: 60
    height: 30
---

<div class="editable">
		<p>sejak tahun 2010 telah berkecimpung di bidang transportasi dan penginapan di Yogyakarta,di awal tahun 2020 ini kami memulai dengan tambahan unit baru dan semoga menjadikan kami semakin berkembang dan memberikan manfaat yang berguna bagi pelanggan pelanggan kami.</p>
		<p>&nbsp;</p>
		<p><img width="600" height="200" src="/uploads/logo-bening.png" /></p>
	</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}" /> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
{% include lazyload.html %}
