---
title: Motor |Mobil| Penginapan
call_to_action: Contact
background_image_path:
large_header: false
show_in_navigation: true
testimonials:
  - message: >-
      <a href="/sewa-motor/">SEWA MOTOR MULAI 50 RIBU!!</a><p><img alt="motor"
      src="/uploads/motor-baru1.png" width="360" height="239" /></p>
    image: /uploads/aji.jpg
    name: Adjie
  - message: >-
      <a href="/rental-mobil/">Sewa mobil lepas kunci mulai 300
      ribu!!</a><p><img alt="mobil" src="/uploads/mobil-icon1.jpg" width="360" height="239"
      /></p>
    image: /uploads/nunik.jpg
    name: Nunik
  - message: >-
      <a href="/penginapan/">Nginep nyaman semaleman cuma 150 ribu!!</a><p><img alt="kamar"
      src="/uploads/kamar-icon1.jpg" width="360" height="239" /></p>
    image: 'https://placebear.com/60/60?a=.png'
    name: Setyawan
_options:
  image:
    width: 60
    height: 30
---

<!DOCTYPE html>
<html>
<head>
<style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>
</head>
<p class="editable">
	<h1><strong><a href="/sewa-motor">Sewa Motor Jogja mulai 50 Ribu</a> || <a href="/rental-mobil">Rental Mobil Yogyakarta mulai 300 Ribu</a> || <a href="/penginapan">Penginapan mulai 150 Ribu</a></h1><h4>Telp. 0274-583197 &amp; 0274-547440 Untuk informasi lebih lanjut dan booking.</strong></h4>
</p>
<div class="boxed">
       <div>Sejak tahun 2010 Bening Abadi Transport telah berkecimpung di bidang transportasi dan penginapan murah di Yogyakarta dengan lokasi strategis berdekatan dengan kampus seperti UGM dan UNY. Sewa motor, rental mobil, penginapan dan guest house adalah layanan utama kami. Di awal tahun 2020 ini kami memulai dengan tambahan unit motor baru seperti Honda Genio dan Honda Beat Street. Kami sewakan dengan harga yang sangat terjangkau untuk kalangan mahasiswa jogja dan customer umum. Semoga ke depan kami bisa memberikan pelayanan yang lebih baik kepada pelanggan pelanggan setia Bening Abadi.</div>
		<p><img alt="logo bening" width="300" height="100" src="/uploads/logo-bening.png" /></p>
	</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}" /> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
{% include lazyload.html %}
</html>