---
title: SEWA MOTOR JOGJA - RENTAL MOBIL - PENGINAPAN MURAH
call_to_action: Contact
background_image_path: /uploads/18-13-21-74965065-435498107392083-63590707993195494-n.jpg
large_header: true
testimonials:
  - message: SEWA MOTOR MULAI 50 RIBU!!
    image: 'https://placekitten.com/g/60/60?a=.png'
    name: Arief
  - message: Sewa mobil lepas kunci mulai 300 ribu!!
    image: 'https://www.fillmurray.com/60/60?a=.png'
    name: Budi
  - message: Nginep nyaman semaleman cuma 150 ribu!!
    image: 'https://placebear.com/60/60?a=.png'
    name: Setyawan
_options:
  image:
    width: 60
    height: 30
---

<div class="editable">
		<blockquote>
			<p>This is the <strong>Justice</strong> .<img src="/uploads/emtjkwfxsaeb4rx.jpg" width="749" height="701" /></p>
		</blockquote>
	</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}" /> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
