html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;

	@media (min-width: $mobile-break) {
		font-size:11px;
	}
}

body {
	line-height: 1.5;
	font-size: 2em;
}

body,
input,
textarea {
	font-family: 'Vollkorn', Georgia, serif;
	color: #3A4145;
	text-rendering: geometricPrecision;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Vollkorn', Georgia, serif;
	font-weight: 300;
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	letter-spacing: 0.1em;
	line-height: 2;

	&:not(:first-child) {
		margin-top: 2.1em;
	}
}

h1 {
	font-size: 1.2rem;
	line-height: 40px;
	margin: 0 -1px 0 0;
	@media (min-width: $mobile-break) {
		line-height: 40px;
		font-size: 1.2rem;
		text-align: center;
	}
}

h2 {
	font-size: 2.7rem;
}

h3 {
	font-size: 2.6rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: .9rem;
}

h6 {
	font-size: 2rem;
}

a {
	color: #4489b1;
	transition: color 0.2s ease;
	text-decoration: italic;

	&:hover {
		color: #ff0000;
	}
}
