nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, .5);
	z-index: 999;

	a {
		display: inline-block;
		text-decoration: bold;
		padding: 4px 4px;
		color: #444;
		letter-spacing: 1px;
		font-size: .8em;

		&.active {
			color: #F00;
		}

		&:hover {
			color: #000;
		}
	}
}
