nav {
	position: fixed;
	width: 90%;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, .8);
	z-index: 999;

	a {
		display: inline-block;
		text-decoration: bold;
		padding: 20px 20px;
		color: #444;

		letter-spacing: 1px;
		font-size: .7em;

		&.active {
			color: #F00;
		}

		&:hover {
			color: #000;
		}
	}
}
